body {
	font-size: 14pt;
}

input {
	width:20em;
}

.lister {
	margin-top: 1em;
};

.sample {
	visibility: hidden;
}

.filled {
	color:;
}

.rated {
	color:#EE4444;
}

.template {
    visibility: hidden;
    position: absolute;
    text-indent: -9999em;
}

.fires {
	display:inline-block;
	margin: auto 1em;
}

.fire {
	font-size: 28px;
	vertical-align: middle;
}

#items > tbody > tr:hover > .delRow {
	color:#000;
}

.delRow {
	color:#AAA;
	font-size:24px;
}

.delRow:hover {
	color:#555;
}

.highlight {
	color:#000;
}